$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// colours
$main-blue: #183E5D;
$light-blue: #75A5D4;
$link-blue: #337ab7;
$logo-blue: #3688CB;
$dark-blue: #14334C;
$text-black: #131313;

// fonts
$source-sans: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
$montserrat: 'Montserrat', 'Helvetica Neue', sans-serif;

// borders
$light-border: 8px solid $light-blue;
$dark-border: 8px solid $logo-blue;
$gold-border: 8px solid gold;
$silver-border: 8px solid silver;
$bronze-border: 8px solid #CD7F32;
$black-border: 8px solid $text-black;

// buffers
$side-buffer: 8rem;
$vertical-buffer: 8rem;
$center-buffer: 3rem;

// mixins
@mixin transition($time) {
  transition: all $time ease-in-out;
}
@mixin primary-style {
  font-family: $montserrat;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.75;
}
@mixin button-style {
  font-family: $montserrat;
  display: inline-block;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: normal;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background: $link-blue;
  &:hover { background: $logo-blue; }
  &:active { background: lighten($main-blue, 10%); }
  i { vertical-align: middle; }
  @include transition(0.1s);
}
@mixin white-link {
  color: #fff;
  @include primary-style;
  @include transition(0.1s);
  &:hover {
    color: $logo-blue;
  }
  &:active {
    color: lighten($main-blue, 10%);
  }
}

// resets
* { box-sizing: border-box; }
a { text-decoration: none !important; }
:focus { outline: none !important; }

// main styles
html, body {
  height: 100%;
  width: 100%;
  color: #fff;
  font-family: $source-sans;
  background: url('../images/nbtc-landing_bg.jpg') no-repeat fixed center center;
  background-size: cover;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $montserrat;
}

p {
  margin: 2rem 0;
  font-size: 1.75rem;
  font-weight: 300;
  &.lead {
    font-size: 3rem;
    margin: 0 0 3rem;
  }
  strong {
    font-weight: 600;
  }
}

/* main styles */
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  .page-wrapper {
    position: relative;
    vertical-align: top;
    height: 100%;
    background: rgba($main-blue, 0.8);
    overflow: auto;
    padding: $vertical-buffer $side-buffer;
  }
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .home-logo {}
    .home-details {
      margin-top: 6rem;
      @include primary-style;
      .datetime, .location {
        margin: 2.5rem 0;
        a {
          @include white-link;
        }
      }
      span {
        display: inline-block;
        vertical-align: middle;
        margin: 0 1rem;
      }
      i {
        vertical-align: middle;
      }
    }
  }
  .about {
    display: flex;
    background: #fff;
    color: $text-black;
    .about-left, .about-right {
      display: flex;
    }
    .about-left {
      align-items: flex-start;
      .about-title {
        padding: 3rem 0;
        padding-right: $center-buffer;
        border-right: $dark-border;
        text-transform: uppercase;
        h1 {
          color: $logo-blue;
          margin: 0;
          font-size: 6rem;
        }
      }
    }
    .about-right {
      flex: 1;
      .about-desc {
        padding-left: $center-buffer;
      }
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem $side-buffer;
    background: rgba($dark-blue, 0.9);
    .contact-center {
      display: flex;
      .contact-left, .contact-right {
        display: flex;
        align-items: center;
        padding: 4rem 1rem;
      }
      .contact-left {
        flex: none;
        .contact-title {
          padding: 2rem 4rem;
          border-right: $light-border;
          text-transform: uppercase;
          h1 {
            margin: 0;
            font-size: 6rem;
          }
        }
      }
      .contact-right {
        flex: 1;
        a {
          display: inline-block;
          padding: 2rem 1rem;
          margin: 1rem;
          color: #fff;
          border-radius: 0.5rem;
          background: rgba($logo-blue, 0);
          &:hover {
            background: $logo-blue;
          }
          &:active {
            background: lighten($main-blue, 10%);
          }
          @include transition(0.08s);
        }
      }
    }
    .contact-bottom {
      display: flex;
      margin-top: 8rem;
      .contact-email {
        @include white-link;
      }
    }
  }
  .conference {
    display: flex;
    .conference-left, .conference-right {
      & > :last-child {
        margin-bottom: $vertical-buffer;
      }
    }
    .conference-left {
      padding-right: $center-buffer;
      flex-basis: 48rem;
      .conference-theme {
        padding: 4rem 0 5rem;
        margin-bottom: 5rem;
        border-top: $light-border;
        border-bottom: $light-border;
        white-space: nowrap;
        h1, h2 {
          margin: 0;
          text-transform: uppercase;
        }
        h1 {
          font-size: 5.5rem;
          letter-spacing: 4px;
        }
        h2 {
          font-size: 1.75rem;
          font-weight: 400;
          letter-spacing: 1.5px;
        }
      }
    }
    .conference-right {
      flex: 1;
      padding-left: $center-buffer;
      .conference-figures {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        .conference-figure {
          flex-basis: 30%;
          margin: 2.5rem 0;
          h3 {
            font-size: 5rem;
            margin-top: 0;
          }
          h4 {
            @include primary-style;
          }
        }
      }
    }
  }
  .sponsors {
    background: #fff;
    color: $text-black;
    .sponsors-header {
      padding: 0 $side-buffer;
      margin-bottom: 8rem;
      h1 {
        display: inline-block;
        font-size: 6rem;
        text-transform: uppercase;
        margin: 0 0 6rem;
        padding: 2rem 4rem;
        color: $logo-blue;
        border: $dark-border;
      }
    }
    .sponsors-class {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      position: relative;
      margin-bottom: 2rem;
      padding: 8rem 0;
      h2 {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 2rem;
        text-transform: uppercase;
      }
      .sponsors-item {
        padding: 2rem;
        margin: 2rem 4rem;
        img {
          width: 100%;
        }
      }
      @mixin sponsor-style($color, $logo-size) {
        border-top: 8px solid $color;
        h2 { background: $color; }
        .sponsors-item { width: $logo-size; }
      }
      &.gold      { @include sponsor-style(gold,        36rem); }
      &.silver    { @include sponsor-style(silver,      32rem); }
      &.bronze    { @include sponsor-style(#CD7F32,     24rem); }
      &.supporter { @include sponsor-style($logo-blue,  20rem); }
    }
  }
  .speakers {
    background: rgba($dark-blue, 0.9);
    .speakers-header {
      h1 {
        display: inline-block;
        font-size: 6rem;
        text-transform: uppercase;
        padding: 2rem 4rem;
        background: $logo-blue;
        margin: 0;
      }
      .speakers-filters {
        cursor: default;
        display: inline-block;
        vertical-align: bottom;
        padding: 0.5rem 1rem;
        @include primary-style;
        a {
          display: block;
          cursor: pointer;
          padding: 0.5rem 0;
          @include transition(0.1s);
          span {
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;
            width: 0;
            color: #fff;
            @include transition(0.1s);
          }
          &:hover {
            color: #fff;
            span {
              width: 10rem;
            }
          }
          & > * {
            vertical-align: middle;
          }
        }
      }
    }
    .speakers-grid {
      font-size: 0;
      .speaker {
        display: inline-block;
        width: 16rem;
        height: 16rem;
        overflow: hidden;
        // background: #fff;
        cursor: pointer;
        img {
          width: 100%;
          min-height: 100%;
          @include transition(0.08s);
        }
      }
      $filter-opacity: 0.2;
      &.filter-all {
        .speaker {
          img { opacity: $filter-opacity; }
          &.selected img { opacity: 1; }
        }
      }
      &.filter-keynote {
        .speaker img { opacity: $filter-opacity; }
        .keynote img { opacity: 1; }
      }
      &.filter-panelist {
        .speaker img { opacity: $filter-opacity; }
        .panelist img { opacity: 1; }
      }
      &.filter-workshop {
        .speaker img { opacity: $filter-opacity; }
        .workshop img { opacity: 1; }
      }
    }
  }
  .team {
    // background: rgba($dark-blue, 0.9);
    background: $dark-blue;
    text-align: center;
    h1 {
      display: inline-block;
      font-size: 6rem;
      text-transform: uppercase;
      padding: 2rem 4rem;
      border: $light-border;
      margin: 0 0 8rem;
    }
    .team-content {
      font-family: $source-sans;
      margin: 8rem 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 0 $side-buffer;
      .team-member {
        display: flex;
        flex-basis: 24rem;
        flex-direction: column;
        margin: 2rem;
        .team-member-thumb {
          width: 24rem;
          height: 24rem;
          img {
            width: 100%;
          }
        }
        .team-member-info {
          padding: 1.5rem 0;
          h3, h4 {
            margin: 1.5rem 0;
          }
          h3 {
            font-size: 2rem;
          }
          h4 {
            @include primary-style;
          }
        }
      }
    }
  }
  .blurb {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: ($vertical-buffer * 1.5) ($side-buffer * 1.5);
    background: rgba($dark-blue, 0.98);
    overflow: auto;
    .blurb-left, .blurb-right {
      &:last-child {
        margin-bottom: $vertical-buffer;
      }
    }
    .blurb-left {
      margin-right: $center-buffer;
      width: 28rem;
      img {
        width: 100%;
      }
    }
    .blurb-right {
      margin-left: $center-buffer;
      flex: 1;
      h1 {
        font-size: 4rem;
        small {
          vertical-align: middle;
        }
      }
      h2 {
        font-size: 1.6rem;
        margin: 0 0 3rem;
      }
    }
    .blurb-close {
      position: absolute;
      top: 3rem;
      right: 3rem;
      cursor: pointer;
    }
    &.ng-enter, &.ng-leave {
      transition: all 0.25s ease-in-out;
    }
    &.ng-enter, &.ng-leave.ng-leave-active {
      opacity: 0;
      top: 10%;
      left: 10%;
      height: 80%;
      width: 80%;
    }
    &.ng-leave, &.ng-enter.ng-enter-active {
      opacity: 1;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}
// specific components
.buy-tickets {
  margin: 7rem 0;
  a {
    @include button-style;
  }
}

/* animations */
.page {
  &.ng-enter, &.ng-leave {
    transition: all 0.8s ease-in-out;
  }
  &.slidedown {
    &.ng-enter        { top: 100%;  }
    &.ng-enter-active { top: 0;     }
    &.ng-leave        { top: 0;     }
    &.ng-leave-active { top: -100%; }
  }
  &.slideup {
    &.ng-enter        { top: -100%; }
    &.ng-enter-active { top: 0;     }
    &.ng-leave        { top: 0;     }
    &.ng-leave-active { top: 100%;  }
  }
  &.slideleft {
    &.ng-enter        { left: -100%; }
    &.ng-enter-active { left: 0;     }
    &.ng-leave        { left: 0;     }
    &.ng-leave-active { left: 100%;  }
  }
  &.slideright {
    &.ng-enter        { left: 100%;  }
    &.ng-enter-active { left: 0;     }
    &.ng-leave        { left: 0;     }
    &.ng-leave-active { left: -100%; }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}

// slide buttons
$go-btn-buffer: 2.5rem; // space between button and side of viewport
.go-up, .go-down, .go-left, .go-right { position: absolute; }
.go-up, .go-down    { left: 50%; transform: translate(-50%, 0); }
.go-left, .go-right { top:  50%; transform: translate(0, -50%); }
.go-up    { top:    $go-btn-buffer; }
.go-down  { bottom: $go-btn-buffer; }
.go-left  { left:   $go-btn-buffer; }
.go-right { right:  $go-btn-buffer; }

// tooltip custom styles
.tooltip-inner                 { background:          $link-blue; }
.tooltip.bottom .tooltip-arrow { border-bottom-color: $link-blue; }
.tooltip.top .tooltip-arrow    { border-top-color:    $link-blue; }
.tooltip.right .tooltip-arrow  { border-right-color:  $link-blue; }
.tooltip.left .tooltip-arrow   { border-left-color:   $link-blue; }

// helper classes
.main-blue  { color: $main-blue;  }
.light-blue { color: $light-blue; }
