$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// colours
$main-blue: #183E5D;
$light-blue: #75A5D4;
$link-blue: #337ab7;
$logo-blue: #3486C7;

// fonts
$source-sans: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
$montserrat: 'Montserrat', 'Helvetica Neue', sans-serif;

// mixins
@mixin transition($time) {
  transition: all $time ease-in-out;
}
@mixin primary-style {
  font-family: $montserrat;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.75;
}
@mixin button-style {
  font-family: $montserrat;
  display: inline-block;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: normal;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background: $link-blue;
  &:hover { background: $logo-blue; }
  &:active { background: lighten($main-blue, 10%); }
  i { vertical-align: middle; }
  @include transition(0.08s);
}

// borders
$blue-border: 8px solid $light-blue;

// resets
* { box-sizing: border-box; }
a { text-decoration: none !important; }

// main styles
html, body {
  height: 100%;
  width: 100%;
  color: #fff;
  overflow: hidden;
  font-family: $source-sans;
  background: url('../images/nbtc-landing_bg.jpg') no-repeat center center;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $montserrat;
}

/* main styles */
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  .page-wrapper {
    position: relative;
    vertical-align: top;
    height: 100%;
    background: rgba($main-blue, 0.8);
  }
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .home-logo {}
    .home-details {
      margin-top: 6rem;
      text-align: center;
      @include primary-style;
      .datetime, .location {
        margin: 2.5rem 0;
      }
      span {
        display: inline-block;
        vertical-align: middle;
        margin: 0 1rem;
      }
      i {
        vertical-align: middle;
      }
    }
  }
  .about {
    display: flex;
    .about-left, .about-right {
      display: flex;
    }
    .about-left {
      align-items: flex-start;
      .about-title {
        padding: 2rem 4rem;
        padding-left: 10rem;
        margin-top: 10rem;
        border-right: $blue-border;
        text-transform: uppercase;
        h1 {
          margin: 0;
          font-size: 8rem;
        }
      }
    }
    .about-right {
      flex: 1;
      .about-desc {
        padding: 8rem 6rem;
        padding-right: 12rem;
        font-size: 1.75rem;
        font-weight: 300;
        overflow: auto;
        p {
          margin: 2rem 0;
          &.lead {
            font-size: 3rem;
            margin: 2rem 0 3rem;
          }
          strong {
            font-weight: 600;
          }
        }
      }
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem 10rem;
    .contact-center {
      display: flex;
      .contact-left, .contact-right {
        display: flex;
        align-items: center;
        padding: 4rem 1rem;
      }
      .contact-left {
        flex: none;
        .contact-title {
          padding: 2rem 4rem;
          border-right: $blue-border;
          text-transform: uppercase;
          h1 {
            margin: 0;
            font-size: 6rem;
          }
        }
      }
      .contact-right {
        flex: 1;
        a {
          display: inline-block;
          padding: 2rem 1rem;
          margin: 1rem;
          color: #fff;
          border-radius: 0.5rem;
          background: rgba($link-blue, 0);
          &:hover {
            background: $link-blue;
          }
          &:active {
            background: lighten($main-blue, 10%);
          }
          @include transition(0.08s);
        }
      }
    }
    .contact-bottom {
      display: flex;
      margin-top: 8rem;
      .contact-email {
        color: #fff;
        @include primary-style;
        @include transition(0.08s);
        &:hover {
          color: $logo-blue;
        }
        &:active {
          color: lighten($main-blue, 10%);
        }
        // @include button-style;
      }
    }
  }
}
// specific components
.buy-tickets {
  margin-top: 8rem;
  a {
    @include button-style;
  }
}

/* animations */
.page {
  &.ng-enter, &.ng-leave {
    transition: all 0.8s ease-in-out;
  }
  &.slidedown {
    &.ng-enter        { top: 100%;  }
    &.ng-enter-active { top: 0;     }
    &.ng-leave        { top: 0;     }
    &.ng-leave-active { top: -100%; }
  }
  &.slideup {
    &.ng-enter        { top: -100%; }
    &.ng-enter-active { top: 0;     }
    &.ng-leave        { top: 0;     }
    &.ng-leave-active { top: 100%;  }
  }
  &.slideleft {
    &.ng-enter        { left: -100%; }
    &.ng-enter-active { left: 0;     }
    &.ng-leave        { left: 0;     }
    &.ng-leave-active { left: 100%;  }
  }
  &.slideright {
    &.ng-enter        { left: 100%;  }
    &.ng-enter-active { left: 0;     }
    &.ng-leave        { left: 0;     }
    &.ng-leave-active { left: -100%; }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}

// slide buttons
$go-btn-buffer: 2.5rem; // space between button and side of viewport
.go-up, .go-down, .go-left, .go-right { position: absolute; }
.go-up, .go-down    { left: 50%; transform: translate(-50%, 0); }
.go-left, .go-right { top:  50%; transform: translate(0, -50%); }
.go-up    { top:    $go-btn-buffer; }
.go-down  { bottom: $go-btn-buffer; }
.go-left  { left:   $go-btn-buffer; }
.go-right { right:  $go-btn-buffer; }

// tooltip custom styles
.tooltip-inner                 { background:          $link-blue; }
.tooltip.bottom .tooltip-arrow { border-bottom-color: $link-blue; }
.tooltip.top .tooltip-arrow    { border-top-color:    $link-blue; }
.tooltip.right .tooltip-arrow  { border-right-color:  $link-blue; }
.tooltip.left .tooltip-arrow   { border-left-color:   $link-blue; }

// helper classes
.main-blue  { color: $main-blue;  }
.light-blue { color: $light-blue; }
