$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// colours
$main-blue: #183E5D;
$light-blue: #75A5D4;
$link-blue: #337ab7;
$logo-blue: #3688CB;
$dark-blue: #14334C;
$text-black: #131313;

// fonts
$source-sans: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
$montserrat: 'Montserrat', 'Helvetica Neue', sans-serif;

// sizes
$h1: 6rem;

// borders
$light-border: 8px solid $light-blue;
$dark-border: 8px solid $logo-blue;
$gold-border: 8px solid gold;
$silver-border: 8px solid silver;
$bronze-border: 8px solid #CD7F32;
$black-border: 8px solid $text-black;

// buffers
$side-buffer: 8rem;
$vertical-buffer: 8rem;
$center-buffer: 3rem;

// mixins
@mixin transition($time, $delay: "") {
  transition: all $time ease-in-out unquote($delay);
}
@mixin primary-style {
  font-family: $montserrat;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.75;
}
@mixin button-style {
  font-family: $montserrat;
  display: inline-block;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: normal;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background: $link-blue;
  &:hover { background: $logo-blue; }
  &:active { background: lighten($main-blue, 10%); }
  i { vertical-align: middle; }
  @include transition(0.1s);
}
@mixin white-link {
  color: #fff;
  @include primary-style;
  @include transition(0.1s);
  &:hover {
    color: $logo-blue;
  }
  &:active {
    color: lighten($main-blue, 10%);
  }
}

// resets
* {
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
a { text-decoration: none !important; }
:focus { outline: none !important; }

// main styles
html, body {
  height: 100%;
  width: 100%;
  color: #fff;
  font-family: $source-sans;
  background: url('../images/nbtc-landing_bg.jpg') no-repeat fixed center center;
  background-size: cover;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $montserrat;
}

p {
  margin: 2rem 0;
  font-size: 1.75rem;
  font-weight: 300;
  &.lead {
    font-size: 3rem;
    margin: 0 0 3rem;
  }
  strong {
    font-weight: 600;
  }
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  .page-wrapper {
    position: relative;
    vertical-align: top;
    height: 100%;
    background: rgba($main-blue, 0.8);
    padding: $vertical-buffer $side-buffer;
    overflow: auto;
  }
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    .home-content {
      padding-bottom: 2rem;
      .home-logo {
        img {
          max-width: 100%;
        }
      }
      .home-details {
        margin: 6rem 0 8rem;
        @include primary-style;
        .datetime, .location {
          margin: 2.5rem 0;
          a {
            @include white-link;
          }
        }
        span {
          display: inline-block;
          vertical-align: middle;
          margin: 0 1rem;
        }
        i {
          vertical-align: middle;
        }
      }
    }
  }
  #ecJudgesButton{
    display:block;
    color: $light-blue;
    &:hover{
      color: #fff;
    }
  }
  .about {
    display: flex;
    background: #fff;
    color: $text-black;
    .about-left {
      align-items: flex-start;
      .about-title {
        text-align: right;
        padding: 3rem 0;
        padding-right: $center-buffer;
        margin-bottom: 3rem;
        border-right: $dark-border;
        text-transform: uppercase;
        h1 {
          color: $logo-blue;
          margin: 0;
          font-size: $h1;
        }
      }
    }
    .about-right {
      flex: 1;
      .about-desc {
        padding-left: $center-buffer;
        margin-bottom: $vertical-buffer;
      }
      .buy-tickets {
        margin-top: 8rem;
      }
    }
  }
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem $side-buffer;
    background: rgba($dark-blue, 0.9);
    .contact-center {
      white-space: nowrap;
      .contact-title {
        display: inline-block;
        vertical-align: middle;
        padding: 2rem 4rem;
        margin-right: $center-buffer;
        border-right: $light-border;
        text-transform: uppercase;
        h1 {
          display: inline-block;
          margin: 0;
          font-size: $h1;
        }
      }
      .contact-icon {
        display: inline-block;
        vertical-align: middle;
        padding: 2rem 1rem;
        margin: 0 1rem;
        color: #fff;
        border-radius: 0.5rem;
        background: rgba($light-blue, 0);
        &:hover {
          background: rgba($light-blue, 0.2);
        }
        &:active {
          background: rgba($light-blue, 0.1);
        }
        @include transition(0.1s);
      }
      .contact-bottom {
        margin-top: 8rem;
        text-align: center;
        .contact-email {
          @include white-link;
        }
      }
    }
  }
  .conference {
    display: flex;
    .conference-content {
      max-width: 112rem;
      display: flex;
      .conference-left, .conference-right {
        flex: 1;
      }
      .conference-left {
        padding-right: $center-buffer;
        min-width: 48rem;
        .conference-theme {
          padding: 3rem 0 4rem;
          margin-bottom: 4rem;
          border-top: $light-border;
          border-bottom: $light-border;
          white-space: nowrap;
          h1, h2 {
            margin: 0;
            text-transform: uppercase;
          }
          h1 {
            font-size: 5.5rem;
            letter-spacing: 4px;
          }
          h2 {
            font-size: 1.75rem;
            font-weight: 400;
            letter-spacing: 1.5px;
          }
        }
      }
      .conference-right {
        .conference-figures {
          text-align: center;
          padding: 1rem 0;
          background: rgba($light-blue, 0.2);
          .conference-figure {
            display: inline-block;
            vertical-align: top;
            width: 30%;
            padding: 2.5rem 1rem;
            h3 {
              font-size: 4rem;
              margin-top: 0;
            }
            h4 {
              @include primary-style;
            }
          }
        }
      }
    }
  }
  .subsidies {
    background: #fff;
    display:block;
    .subsidies-content {
      color: $text-black;
    }
    .subsidies-main {
      text-align:center;
      h1 {
        border:$light-border;
        padding: 20px;
      }
      a {
        @include white-link;
        font-size: 3rem;
      }
    }
    .subsidies-table-cell {
      width: 150px;
      font-size: 1.8rem;
    }
    .subsidies-left {
      .subsidies-title {
        text-align: left;
        padding: 3rem 0;
        padding-right: $center-buffer;
        margin-bottom: 3rem;
        border-right: $dark-border;
        text-transform: uppercase;
        h1 {
          color: $logo-blue;
          margin: 0;
          font-size: $h1;
        }
      }
    }
    .subsidies-right {
      .subsidies-header {
        padding-left: $center-buffer;
        margin-bottom: $vertical-buffer;
      }
    }
  }
  .ec {
    .text-center{
      text-align: center;
    }
    .ec-main {
      h1 {
        border:$light-border;
        padding: 20px;
      }
      a {
        @include white-link;
        font-size: 3rem;
      }

    }
    .ec-caption{
      text-align: center;
      line-height: 2;
      padding: 10px 0px 10px 0px;
      border-bottom: 4px solid $light-blue;
      border-top: 4px solid $light-blue;
    }
    .ec-subtitle{
      text-transform: uppercase;
      font-weight: normal;
      font-size: 3rem;
    }
    .ec-prizes {
      text-align: center;
      .ec-caption {
        font-size: 2.5rem;
      }
      .ec-subtitles{

      }
      .col-md-6 {
        padding-bottom: 15px;
      }
      ul{
        padding: 0px;
        li {
          list-style-type: none;
          font-size: 1.75rem;
          font-weight: 300;
          padding-left: 10px
        }
      }
    }
    .ec-how {
      ol {
        margin: 2rem 0;
        font-size: 1.75rem;
        font-weight: 300;
        a {
          @include white-link;
          font-size: 1.75rem;
          font-family: $source-sans;
          font-weight: bold;
        }
      }

    }
    .ec-eligible {
      padding:20px;
      border-bottom:2px solid $light-blue; 
    }
    .faqs{
      .faq{
        .question{
          font-weight:bold;
          padding-bottom:0px;
          margin-bottom: -5px;
        }
        padding-bottom: 5px;
      }
    }
    .judge {
      padding-bottom: 10px;
      border-bottom: 2px solid $light-blue;
      .judgeName{
        text-align: right;
        font-size: 2.5rem;
        a {
          color:$light-blue;
        }
      }
      img {
        float:left;
        padding:0px 20px 10px 0px;
        width:200px;
      }
      p {
        color:#fff;
        text-align: justify;
      }
    }
  }
  .gic {
    .gic-main h1 {
      border:$light-border;
      padding: 20px;
    }
    .logo {
      padding-bottom: 10px;
      img {
        float: left;
        width:200px;
        height: 200px;
        padding: 20px;
      }
    }
    a {
      @include white-link;
      font-size: 3rem;
    }
    .gic-cases {
      padding-top:30px;
      border-top:$light-border;
    }
    .gicCase {
      padding: 10px 0px 10px;
      .moreInfo {
        display: none;
      }
      .readMore {
        padding-left: 89%;
        cursor: pointer;
      }
      border-bottom: 2px solid $light-blue;
    }
    .gicCase.showInfo .moreInfo{
      display:block;
    }
  }
  .sponsors {
    background: #fff;
    .sponsors-header {
      padding: 0 $side-buffer;
      margin-bottom: 8rem;
      color: $text-black;
      h1 {
        display: inline-block;
        font-size: $h1;
        text-transform: uppercase;
        margin: 0 0 6rem;
        padding: 2rem 4rem;
        color: $logo-blue;
        border: $dark-border;
      }
    }
    .sponsors-class {
      position: relative;
      margin-bottom: 2rem;
      padding: 8rem 0;
      text-align: center;
      h2 {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 2rem;
        text-transform: uppercase;
      }
      .sponsors-item {
        display: inline-block;
        padding: 2rem;
        margin: 2rem 4rem;
        max-width: 80%;
        img {
          width: 100%;
        }
      }
      @mixin sponsor-style($color, $logo-size) {
        border-top: 8px solid $color;
        h2 { background: $color; }
        .sponsors-item { width: $logo-size; }
      }
      &.gold      { @include sponsor-style(gold,        36rem); }
      &.silver    { @include sponsor-style(silver,      32rem); }
      &.bronze    { @include sponsor-style(#CD7F32,     24rem); }
      &.supporter { @include sponsor-style($logo-blue,  20rem); }
    }
  }
  .speakers {
    background: rgba($dark-blue, 0.9);
    .speakers-header {
      white-space: nowrap;
      h1 {
        display: inline-block;
        font-size: $h1;
        text-transform: uppercase;
        padding: 2rem 4rem;
        background: $logo-blue;
        margin: 0;
      }
      .speakers-filters {
        cursor: default;
        display: inline-block;
        vertical-align: bottom;
        padding: 0.5rem 1rem;
        @include primary-style;
        a {
          display: block;
          cursor: pointer;
          padding: 0.5rem 0;
          @include transition(0.1s);
          span {
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;
            width: 0;
            color: #fff;
            @include transition(0.1s);
          }
          &:hover {
            color: #fff;
            span {
              width: 10rem;
            }
          }
          & > * {
            vertical-align: middle;
          }
        }
      }
    }
    .speakers-grid {
      font-size: 0;
      .speaker {
        display: inline-block;
        vertical-align: top;
        width: 16rem;
        height: 16rem;
        overflow: hidden;
        cursor: pointer;
        img {
          width: 100%;
          min-height: 100%;
          @include transition(0.1s);
        }
      }
      $filter-opacity: 0.2;
      &.filter-all {
        .speaker {
          img { opacity: $filter-opacity; }
          &.selected img { opacity: 1; }
        }
      }
      &.filter-keynote {
        .speaker img { opacity: $filter-opacity; }
        .keynote img { opacity: 1; }
      }
      &.filter-panelist {
        .speaker img { opacity: $filter-opacity; }
        .panelist img { opacity: 1; }
      }
      &.filter-workshop {
        .speaker img { opacity: $filter-opacity; }
        .workshop img { opacity: 1; }
      }
    }
  }
  .team {
    background: $dark-blue;
    text-align: center;
    h1 {
      display: inline-block;
      font-size: $h1;
      text-transform: uppercase;
      padding: 2rem 4rem;
      border: $light-border;
      margin: 0 0 8rem;
    }
    .team-content {
      font-family: $source-sans;
      margin: 8rem 0;
      .team-member {
        display: inline-block;
        vertical-align: top;
        width: 24rem;
        margin: 4rem;
        .team-member-thumb {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
          }
        }
        .team-member-info {
          padding: 1.5rem 0;
          h3, h4 {
            margin: 1.5rem 0;
          }
          h3 {
            font-size: 2rem;
          }
          h4 {
            @include primary-style;
          }
        }
      }
    }
  }
  .blurb {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: ($vertical-buffer * 1.5) ($side-buffer * 1.5);
    background: $dark-blue;
    overflow: auto;
    .blurb-left, .blurb-right {
      &:last-child {
        margin-bottom: $vertical-buffer;
      }
    }
    .blurb-left {
      margin-right: $center-buffer;
      width: 28rem;
      text-align: right;
      img {
        max-width: 100%;
      }
    }
    .blurb-right {
      margin-left: $center-buffer;
      flex: 1;
      h1 {
        font-size: 4rem;
        small {
          vertical-align: middle;
        }
      }
      h2 {
        font-size: 1.6rem;
        margin: 0 0 3rem;
      }
    }
    .blurb-close {
      position: absolute;
      top: 3rem;
      right: 3rem;
      cursor: pointer;
    }
    &.ng-enter, &.ng-leave {
      transition: all 0.25s ease-in-out;
    }
    &.ng-enter, &.ng-leave.ng-leave-active {
      opacity: 0;
      top: 10%;
      left: 10%;
      height: 80%;
      width: 80%;
    }
    &.ng-leave, &.ng-enter.ng-enter-active {
      opacity: 1;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}
// specific components
.buy-tickets {
  a {
    @include button-style;
  }
}
#menu-button {
  position: fixed;
  top: 3rem;
  left: 3rem;
  padding: 0.5rem;
  cursor: pointer;
  white-space: nowrap;
  background: rgba($logo-blue, 0);
  border-radius: 0.5rem;
  @include primary-style;
  @include transition(0.1s);
  span {
    display: inline-block;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    @include transition(0.2s);
  }
  &.hover {
    color: #fff;
    background: rgba($logo-blue, 0.8);
    span {
      width: 5rem;
    }
  }
  &:hover {
    color: #fff;
    background: rgba($logo-blue, 1);
    span {
      width: 5rem;
    }
  }
  & > * {
    vertical-align: middle;
  }
}
#mainmenu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: $vertical-buffer $side-buffer;
  background: $dark-blue;
  text-align: center;
  overflow: auto;
  .mainmenu-body {
    display: inline-block;
    max-width: 80rem;
    .mainmenu-item {
      display: inline-block;
      width: 12rem;
      padding: 2rem 1rem;
      margin: 2rem;
      border-radius: 0.5rem;
      background: rgba($light-blue, 0);
      color: #fff;
      cursor: pointer;
      @include transition(0.1s);
      h2 {
        @include primary-style;
        margin: 1rem 0 0;
      }
      &:hover {
        background: rgba($light-blue, 0.2);
      }
      &:active {
        background: rgba($light-blue, 0.1);
      }
    }
  }
  .mainmenu-close {
    position: absolute;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
  }
  &.ng-enter, &.ng-leave {
    transition: all 0.25s ease-in-out;
  }
  &.ng-enter, &.ng-leave.ng-leave-active {
    opacity: 0;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
  }
  &.ng-leave, &.ng-enter.ng-enter-active {
    opacity: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

/* animations */
.page {
  &.ng-enter, &.ng-leave {
    transition: all 0.8s ease-in-out;
  }
  &.slidedown {
    &.ng-enter        { top: 100%;  }
    &.ng-enter-active { top: 0;     }
    &.ng-leave        { top: 0;     }
    &.ng-leave-active { top: -100%; }
  }
  &.slideup {
    &.ng-enter        { top: -100%; }
    &.ng-enter-active { top: 0;     }
    &.ng-leave        { top: 0;     }
    &.ng-leave-active { top: 100%;  }
  }
  &.slideleft {
    &.ng-enter        { left: -100%; }
    &.ng-enter-active { left: 0;     }
    &.ng-leave        { left: 0;     }
    &.ng-leave-active { left: 100%;  }
  }
  &.slideright {
    &.ng-enter        { left: 100%;  }
    &.ng-enter-active { left: 0;     }
    &.ng-leave        { left: 0;     }
    &.ng-leave-active { left: -100%; }
  }
}

// slide buttons
$go-btn-buffer: 2.5rem; // space between button and side of viewport
.go-up, .go-down, .go-left, .go-right { position: absolute; }
.go-up, .go-down    { left: 50%; transform: translate(-50%, 0); }
.go-left, .go-right { top:  50%; transform: translate(0, -50%); }
.go-up    { top:    0; padding: 0 10rem; padding-top:    $go-btn-buffer; }
.go-down  { bottom: 0; padding: 0 10rem; padding-bottom: $go-btn-buffer; }
.go-left  { left:   0; padding: 10rem 0; padding-left:   $go-btn-buffer; }
.go-right { right:  0; padding: 10rem 0; padding-right:  $go-btn-buffer; }

// tooltip custom styles
.tooltip-inner                 { background:          $link-blue; }
.tooltip.bottom .tooltip-arrow { border-bottom-color: $link-blue; }
.tooltip.top .tooltip-arrow    { border-top-color:    $link-blue; }
.tooltip.right .tooltip-arrow  { border-right-color:  $link-blue; }
.tooltip.left .tooltip-arrow   { border-left-color:   $link-blue; }

// responsive
@media (max-width: 1023px) {
.page {
  .page-wrapper {
    padding: 10rem 3rem;
  }
  .conference {
    .conference-content {
      display: block;
      .conference-left, .conference-right {
        padding: 0;
      }
      .conference-left {
        min-width: initial;
      }
      .conference-right {
        margin-bottom: $vertical-buffer;
      }
    }
  }
  .contact {
    .contact-center {
      text-align: center;
      white-space: normal;
      .contact-title {
        display: block;
        margin: 0;
        border: none;
      }
    }
  }
  .blurb {
    padding: 10rem 3rem;
  }
}

#menu-button {
  background: $logo-blue;
  color: #fff;
  span {
    width: auto !important;
  }
}
#mainmenu {
  padding: 3rem;
}
.go-up, .go-down, .go-left, .go-right { display: none; }
}

@media (max-width: 699px) {
  .speakers {
    .speakers-header {
      .speakers-filters {
        display: none;
      }
    }
    .speakers-grid {
      .speaker {
        width: 12rem;
        height: 12rem;
      }
    }
  }
  .blurb {
    .blurb-left {
      margin-right: 0;
      width: 22rem;
    }
  }
}

@media (max-width: 639px) {
.page {
  .about {
    display: block;
    .about-left {
      .about-title {
        text-align: left;
        padding: 3rem;
        border-left: $dark-border;
        border-right: none;
      }
    }
    .about-right {
      .about-desc {
        padding: 0;
      }
    }
  }
  .blurb {
    display: block;
    .blurb-left {
      margin-right: 0;
      margin-bottom: 4rem;
      width: auto;
      text-align: center;
    }
    .blurb-right {
      margin-left: 0;
    }
  }
}
}

@media (max-height: 579px) {
.page {
  .home {
    align-items: flex-start;
  }
}
}

@media (max-width: 499px) {
$h1-small: 4rem;
.page {
  .conference {
    .conference-content {
      .conference-left {
        .conference-theme {
          white-space: normal;
          h1 {
            font-size: 3.5rem;
          }
          h2 {
            font-size: 1.25rem;
          }
        }
      }
      .conference-right {
        .conference-figures {
          .conference-figure {
            width: 40%;
            padding: 2.5rem 1rem;
          }
        }
      }
    }
  }
  .sponsors {
    .sponsors-header {
      padding: 0;
      h1 {
        font-size: $h1-small;
      }
    }
  }
  .contact {
    .contact-center {
      .contact-title {
        h1 {
          font-size: $h1-small;
        }
      }
    }
  }
  .speakers {
    .speakers-header {
      h1 {
        font-size: $h1-small;
      }
    }
  }
}
}

// helper classes
.main-blue  { color: $main-blue;  }
.light-blue { color: $light-blue; }
