<div class="page-wrapper about">
  <div class="about-left">
    <div class="about-title text-right">
      <h1>About</h1>
    </div>
  </div>
  <div class="about-right">
    <div class="about-desc">
      <p class="lead">The <strong>National Business and Technology Conference</strong> (NBTC) is Canada’s largest student-organized business and technology conference.</p>
      <p>For 15 years, NBTC has been where youth leaders from across North America meet to share big ideas, connect with industry professionals and listen to world-class speakers. Delegates also have the opportunity to compete in the flagship <strong>Entrepreneurship Competition</strong> and <strong>Global Ideas Case Competition</strong> to earn incredible prizes. NBTC’15 is set to be an enriching experience not to be missed by tomorrow's innovators, entrepreneurs, and leaders within the business and technology space. From delegates to sponsors, all are looking to be part of a more positive, innovative and Nspiring tomorrow!</p>
      <p>NBTC is not an ordinary conference. It connects you with the resources and empowers you with insights and spark to keep your ideas moving. At NBTC, ideas gain momentum and transform into positive impact.</p>
      <p>Your ticket to NBTC will provide you with unparalleled opportunities, which include:</p>
      <p><strong>Networking</strong> with C-Suite executives, seasoned entrepreneurs, corporate representatives and the next generation of innovators. You will build meaningful connections that will extend well beyond the conference.</p>
      <p><strong>Attending</strong> captivating speaker sessions hosted by disruptive innovators, leadership gurus and successful entrepreneurs.</p>
      <p><strong>Participating</strong> in unique and interactive workshops that will teach you tangible skills.</p>
      <p><strong>Competing</strong> to win cash prizes, exclusive mentorship and valuable opportunities to further your impact.</p>
      <div class="buy-tickets"><a href="https://nbtc15.eventbrite.ca/"><i class="fa fa-ticket fa-2x"></i>&nbsp;&nbsp;Get Tickets</a></div>
    </div>
  </div>
</div>

<a slide="right" href="#/" title="Home"><i class="fa fa-arrow-circle-o-right fa-2x"></i></a>
