<div class="page-wrapper conference">
  <div class="conference-left">
    <div class="conference-theme text-center">
      <h1>mo·men·tum</h1>
      <h2>the impetus gained by a moving body</h2>
    </div>
    <div class="conference-desc">
      <p class="lead"><strong>Become a part of history</strong> as we enter our 15th year as a conference.</p>
      <p>15 years ago, a group of University of Toronto students founded NBTC with the goal of bridging the gap between business and technology. Since then, we have become Canada’s largest student-run business and technology conference and have continued to evolve with the changing Canadian landscape.</p>
    </div>
  </div>
  <div class="conference-right">
    <div class="conference-figures">
      <div class="conference-figure text-center" ng-repeat="figure in figures">
        <h3>{{ figure.number }}</h3>
        <h4>{{ figure.desc }}</h4>
      </div>
    </div>
  </div>
</div>

<a slide="up" href="#/" title="Home"><i class="fa fa-arrow-circle-o-up fa-2x"></i></a>
<a slide="left" href="#/sponsors" title="Sponsors"><i class="fa fa-arrow-circle-o-left fa-2x"></i></a>
<a slide="right" href="#/speakers" title="Speakers"><i class="fa fa-arrow-circle-o-right fa-2x"></i></a>
