<div class="page-wrapper conference">
  <div class="conference-content">
    <div class="conference-left">
      <div class="conference-theme text-center">
        <h1>mo·men·tum</h1>
        <h2>the impetus gained by a moving body</h2>
      </div>
      <div class="conference-desc">
        <p class="lead"><strong>Become a part of history</strong> as we enter our 15th year as a conference.</p>
        <p>Momentum takes time to build, but starts with something small; whether we’re talking about an idea or accomplishment. NBTC started 15 years ago with the goal of bridging the gap between business and technology that has resulted in others getting swept up in the journey. Since then, we have grown, evolved with the changing Canadian landscape, and have continued to gain <strong>momentum</strong>, moving forward.</p>
        <p>At NBTC, our goal is to pass this momentum on to our delegates to lead the positive change for the future of business and technology.</p>
      </div>
    </div>
    <div class="conference-right">
      <div class="conference-figures">
        <div class="conference-figure text-center" ng-repeat="figure in figures">
          <h3>{{ figure.number }}</h3>
          <h4>{{ figure.desc }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<a class="slidebutton" slide="up" href="#/" title="Home"><i class="fa fa-fw fa-caret-up fa-2x"></i></a>
<a class="slidebutton" slide="left" href="#/sponsors" title="Sponsors"><i class="fa fa-fw fa-caret-left fa-2x"></i></a>
<a class="slidebutton" slide="right" href="#/speakers" title="Speakers"><i class="fa fa-fw fa-caret-right fa-2x"></i></a>
