<div class="page-wrapper contact">
  <div class="contact-center">
    <div class="contact-title">
      <h1>Connect</h1>
    </div>
    <a class="contact-icon" ng-repeat="link in connectLinks" ng-href="{{link.url}}">
      <i ng-class="link.icon" class="fa fa-fw fa-4x"></i>
    </a>
    <div class="contact-bottom">
      <a class="contact-email" href="mailto:nbtc@nspire.org">nbtc@nspire.org</a>
    </div>
  </div>
</div>

<a class="slidebutton" slide="left" href="#/" title="Home"><i class="fa fa-fw fa-caret-left fa-2x"></i></a>
