<div class="page-wrapper ec">
  <div class="ec-content">
    <div class="ec-main">
      <div class="text-center">
        <h1>Entrepreneurship Competition</h1>
        <h3>Deadline to apply: March 10</h3>
        <a href="http://goo.gl/forms/vkbSzoIMof">Apply Now!</a>
      </div>
      <div class="ec-desc text-center">
      	<P>Empowering innovators to unleash their potential and keep their ideas moving! As a participant in the Entrepreneurship Competition in either the “newcomer” or “veteran” categories, you will be provided the opportunity to:<P>
        <p><strong>PITCH</strong> your venture to our panel of industry and academic experts!</p>
        <P><strong>LEARN</strong> about the Canadian startup landscape and what it takes to succeed!</p>
       <p><strong>NETWORK</strong> with fellow competitors, VC's, Angel investors, Incubators and Accelerators!</p>
       <p><strong>EARN</strong> incredible prizes, media exposure, and recognition as the most promising startup!</p>
       <p><strong>GROW</strong> your venture, your passion, and your network!</p>
       </div>
    </div>
    <div class="ec-section ec-prizes">
    	<h1 class="ec-caption">This is your chance to take your idea from concept to reality. Bring your idea to life and create momentum for success.</h1>
    	<div class="ec-prizes row">
    		<div class="col-md-6">
    			<h2 class="ec-subtitle">Newcomers</h2>
    			<ul>
    				<li>Cash $2000</li>
					<li>Sabeta IP - $6000 Patent Services</li>
					<li>Steve Lightstone - $3000 Mentorship Package</li>
				</ul>
			</div>
			<div class="col-md-6">
    			<h2 class="ec-subtitle">Veterans</h2>
    			<ul>
    				<li>Cash $3000</li>
					<li>Aird & Berlis - $500 1 hour legal advisory </li>
					<li>HIGHLINE VC  - $2000 Advisory & Co-working</li>
					<li>MaRS- $2000 - Mentorship Package </li>
				</ul>
			</div>
		</div>
    </div>
  </div>
</div>

<a class="slidebutton" slide="left" href="#/gic" title="Global Ideas Case Competition"><i class="fa fa-fw fa-caret-left fa-2x"></i></a>
<a class="slidebutton" slide="up" href="#/ecJudges" title="Judges"><i class="fa fa-fw fa-caret-up fa-2x"></i></a>
<a class="slidebutton" slide="right" href="#/ecQualify" title="How to Qualify"><i class="fa fa-fw fa-caret-right fa-2x"></i></a>
<a class="slidebutton" slide="down" href="#/ecFaq" title="Frequently Asked Questions"><i class="fa fa-fw fa-caret-down fa-2x"></i></a>
