<div class="page-wrapper ec">
  <div class="ecfaq-content">
      <h1 class="ecfaq-title text-center ec-caption">Frequently Asked Questions</h1>
      <div class="faqs">
        <div class="faq">
          <p class="question">Q: If I am participating in the competition, do I need to pay for a registration to the conference? If so, is there a discount for competition participants?<p>
          <p class="answer"><strong>A: </strong>Yes, in order to attend the competition, you need a ticket. Sorry, no discounts! Feel free to apply for subsidies from your school, and keep a weather eye out for discount codes on our social media!</p>
        </div>
        <div class="faq">
          <p class="question">Q: Who are the judges?<p>
          <p class="answer"><strong>A: </strong>Judges include, CEO from Highline VCs, Harvir S Bansal from CONRAD (Your program!), McKinsey& Company, Aron Solomon (Senior Advisor from Jolt@Mars)  and many more mentors and experts! See judges page for more details</p>
        </div>
        <div class="faq">
          <p class="question">Q: Is it a public or private competition? If public, how many attendees are you expecting?<p>
          <p class="answer"><strong>A: </strong> It's a public competition, we will be picking top 30 teams out of all the applicants that are registered.</p>
        </div>
        <div class="faq">
          <p class="question">Q: Does my startup need to be incorporated?<p>
          <p class="answer"><strong>A: </strong>Nope, as long as you have a idea, you can compete!</p>
        </div>
        <div class="faq">
          <p class="question">Q: Do you accept students at the master’s level?<p>
          <p class="answer"><strong>A: </strong>Yes!</p>
        </div>
        <div class="faq">
          <p class="question">Q: Are there any special requirements for all individuals involved in the startup? All students? Can we have industry mentors or advisors?<p>
          <p class="answer"><strong>A: </strong>Theres no requirements, preliminary rounds includes many mentors from every industries! However, we have some connections to mutual stage startups and mentors, if you need us to connect with them before you compete, please let us know!</p>
        </div>
        <div class="faq">
          <p class="question">Q: How do you define the “newcomer” and “veteran” categories?<p>
          <p class="answer"><strong>A: </strong>We will be dividing top 30 teams to Newcomer and Veteran categories, Newcomer groups are usually early stage startups with just basic ideas and Veteran is the pre-mutual stage.</p>
        </div>
        <div class="faq">
          <p class="question"><Q: Are there any other eligibility requirements?<p>
          <p class="answer"><strong>A: </strong>Nope! As long as you have passion and idea, you are good to go!</p>
        </div>
        <div class="faq">
          <p class="question">Q: How long and how are the pitches structured (e.g. 10min pitch and 10min Q&A).<p>
          <p class="answer"><strong>A: </strong>It's a 5 minute pitch and you get ~5 minute Q&A time from the judges!</p>
        </div>
        <div class="faq">
          <p class="question">Q: Are we able to bring in a back banner and can we connect to a TV/Projector to show a proper demo for the panel?<p>
          <p class="answer"><strong>A: </strong>Yes you may! We have a projector/TV set up, so please bring what you need.</p>
        </div>
      </div> 

  </div>
</div>

<a class="slidebutton" slide="up" href="#/ec" title="Entrepreneurship Competition"><i class="fa fa-fw fa-caret-up fa-2x"></i></a>