<div class="page-wrapper ec">
  <div class="ec-content">
    <div class="ec-section ec-qualify">
    	<h1 class="ec-caption">Where will momentum take you?</h1>
    	<div class="ec-eligible">
    		<h2 class="ec-subtitle">Who is Eligible?</h2>
    		<div class="ec-subsection">
	    		<h3 class="ec-subtitle-2">The Newcomers</h3>
	    		<p>The Newcomers have an idea but have yet to take it to market. They are still under the ideation and prototyping stages. The Newcomers have yet to penetrate their space with significant sales, and are looking primarily for advice on how to enhance their idea and prepare to execute.<p>
	    	</div>
    		<div class="ec-subsection">
	    		<h3 class="ec-subtitle-2">The Veterans</h3>
	    		<p>The Veterans have functioning products/services. They have been in market for less than 24 months and have generated significant revenues. They are looking for mentors/VCs to help take their business to the next level.<p>
	    	</div>
		</div>
		<div class="ec-how">
			<h2 class="ec-subtitle">How to Qualify</h2>
			<ol>
				<li>Organize a team of up to 4 people (students or young professionals) to represent your startup/idea. </li>
				<li>Apply <a href="http://goo.gl/forms/vkbSzoIMof">HERE</a>  to start the application process. Complete the survey to become the top 30 teams to compete.</li>
				<li>The top 45 teams will advance to the preliminary round. From there, they will be divided into two divisions: The Newcomers and The Veterans.</li>
				<li>PRELIMINARY ROUND: MARCH 28,2015<br>The top 45 teams will present their 5 minute business pitches to a series of judges from 8AM – 12PM. Your business plan will be evaluated based on technical feasibility, market penetration strategy, organizational structure and financial projections.</li>
				<li>FINAL ROUND: MARCH 29,2015</li>
			</ol>
			<p>The top 2 teams within each division will be selected to compete in the final round.<br>Note: You do not need to have your conference ticket purchased prior to submitting your application. However, we recommend you purchase your ticket as soon as possible in order to take advantage of the early bird discount. Once applications have been reviewed, notifications will be sent out to successful teams with instructions and registration details. At this point your team will be required to purchase conference tickets in order to participate.</p>
    </div>
  </div>
</div>

<a class="slidebutton" slide="left" href="#/ec" title="Entrepreneurship Competition"><i class="fa fa-fw fa-caret-left fa-2x"></i></a>

