<meta http-equiv="refresh" content="0;url=http://nspire.org/nbtc16">
<div class="page-wrapper home">
  <div class="home-content">
    <div class="home-logo">
      <img src="images/nbtc_logo_white.svg" alt="Nspire Innovation Network">
    </div>
    <div class="home-details text-center">
      <div class="datetime">March 28 to 29, 2015</div>
      <div class="location"><a href="https://goo.gl/maps/KW9M4" target="_blank">The Toronto Board of Trade</a><br>Toronto, ON</div>
    </div>
    <div class="buy-tickets text-center"><a href="https://nbtc15.eventbrite.ca/"><i class="fa fa-ticket fa-2x"></i>&nbsp;&nbsp;Get Tickets</a></div>
  </div>
</div>

<a class="slidebutton" slide="left" href="#/about" title="About"><i class="fa fa-fw fa-caret-left fa-2x"></i></a>
<a class="slidebutton" slide="right" href="#/contact" title="Connect"><i class="fa fa-fw fa-caret-right fa-2x"></i></a>
<a class="slidebutton" slide="down" href="#/conference" title="Conference"><i class="fa fa-fw fa-caret-down fa-2x"></i></a>
