<div class="page-wrapper home">
  <div class="home-content">
    <div class="home-logo">
      <img src="images/nbtc_logo_white.svg" alt="Nspire Innovation Network">
    </div>
    <div class="home-details lead">
      <div class="datetime"><!-- <i class="fa fa-calendar fa-fw fa-2x"></i> -->March 27 to 29, 2015</div>
      <div class="location"><!-- <i class="fa fa-map-marker fa-fw fa-2x"></i> -->The Toronto Board of Trade<br>Toronto, ON</div>
      <div class="buy-tickets"><a href="eventbrite.com"><i class="fa fa-ticket fa-2x"></i>&nbsp;&nbsp;Get Tickets</a></div>
    </div>
  </div>
  <a slide="left" href="#/about" data-toggle="tooltip" data-placement="right" title="About"><i class="fa fa-arrow-circle-o-left fa-2x"></i></a>
</div>
