<div class="page-wrapper schedule">
	<div class="schedule-header">
		<h1>SCHEDULE</h1>
	</div>
	<div class="schedule-table row">
		<div class="col-md-8 col-md-offset-2">
			<h3>Friday March 27, 2015</h3>
			<table class="table">
				<tr>
					<td>4:30 PM</td>
					<td>Registration</td>
				</tr>
				<tr>
					<td>5:00 PM</td>
					<td>Welcome and Opening Keynote by Michael Hyatt</td>
				</tr>
				<tr>
					<td>6:00 PM</td>
					<td>Dinner - MBNA Social</td>
				</tr>
				<tr>
					<td>8:00 PM</td>
					<td>Facilitated Connection Event</td>
				</tr>
				<tr>
					<td>9:00 PM</td>
					<td>Social</td>
				</tr>
			</table>
			<h3>Saturday March 28, 2015</h3>
			<table class="table">
				<tr>
					<td>8:00 AM - 12:00 PM</td>
					<td>Preliminary Rounds of Global Ideas Competition and Entrepreneurship Competition</td>
				</tr>
				<tr>
					<td>10:00 AM - 12:00 PM</td>
					<td>Great Wall of Code</td>
				</tr>
				<tr>
					<td>11:00 AM - 1:00 PM</td>
					<td>Career Fair</td>
				</tr>
				<tr>
					<td>1:00 - 2:00 PM</td>
					<td>Lunch</td>
				</tr>
				<tr>
					<td>2:00 - 3:00 PM</td>
					<td>Keynote by Kim Warburton, Announcement of 4 EC Finalists, Explanation of Workshops, Stickering</td>
				</tr>
				<tr>
					<td>3:00 - 4:00 PM</td>
					<td>Workshop Series 1: A/B/C/D</td>
				</tr>
				<tr>
					<td>4:00 - 5:00 PM</td>
					<td>Workshop Series 2: A/B/C/D</td>
				</tr>
				<tr>
					<td>5:00 - 6:00 PM</td>
					<td>Delegate-Moderated Speaking Panel</td>
				</tr>
				<tr>
					<td>5:00 - 8:00 PM</td>
					<td>Final Round Presentations for Competitions</td>
				</tr>
				<tr>
					<td>6:00 - 7:00 PM</td>
					<td>Dinner</td>
				</tr>
				<tr>
					<td>7:00 - 8:00 PM</td>
					<td>Keynote by Tom Emrich</td>
				</tr>
				<tr>
					<td>8:00 - 10:00 PM</td>
					<td>Social</td>
				</tr>
			</table>
			<h3>Sunday March 29, 2015</h3>
			<table class="table">
				<tr>
					<td>9:00 AM - 11:00 AM</td>
					<td>Product Expo</td>
				</tr>
				<tr>
					<td>10:00 AM</td>
					<td>Breakfast</td>
				</tr>
				<tr>
					<td>11:00 AM</td>
					<td>Workshop Series 3: A/B/C/D</td>
				</tr>
				<tr>
					<td>12:00 PM</td>
					<td>Keynote by Sarah Prevette and Closing Ceremonies</td>
				</tr>
				<tr>
					<td>6:00 - 7:00 PM</td>
					<td>Dinner</td>
				</tr>
				<tr>
					<td>7:00 - 7:45 PM</td>
					<td>Final 4 Teams Compete in EC</td>
				</tr>
				<tr>
					<td>8:00 PM</td>
					<td>Winner of Entrepeneurship Competition Announced</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<a class="slidebutton" slide="up" href="#/about" title="About"><i class="fa fa-fw fa-caret-up fa-2x"></i></a>