<div class="page-wrapper speakers">
  <div class="speakers-header">
    <h1>Speakers</h1>
    <nav class="speakers-filters">
      <a ng-mouseenter="filterSpeakers.byRole('workshop')" ng-mouseleave="filterSpeakers.resetRole()"><i class="fa fa-fw fa-2x fa-code"></i><span>Workshop</span></a>
      <a ng-mouseenter="filterSpeakers.byRole('panelist')" ng-mouseleave="filterSpeakers.resetRole()"><i class="fa fa-fw fa-2x fa-magic"></i><span>Panel</span></a>
      <a ng-mouseenter="filterSpeakers.byRole('keynote')" ng-mouseleave="filterSpeakers.resetRole()"><i class="fa fa-fw fa-2x fa-lightbulb-o"></i><span>Keynote</span></a>
    </nav>
  </div>
  <div class="speakers-grid" ng-class="[filterClass]">
    <div class="speaker" ng-class="[speaker.role]" ng-repeat="speaker in speakers" ng-mouseenter="filterSpeakers.byElement($event)" ng-mouseleave="filterSpeakers.resetElement($event)" ng-click="(speaker.img && speaker.blurb && speaker.title) ? (blurb.show(speaker) && filterSpeakers.resetElement($event)) : false">
      <img ng-src="{{speaker.img}}">
    </div>
  </div>
</div>

<a class="slidebutton" slide="left" href="#/conference" title="Conference"><i class="fa fa-fw fa-caret-left fa-2x"></i></a>

<div class="blurb" ng-if="blurb.isOpen">
  <a class="blurb-close" ng-click="blurb.hide()"><i class="fa fa-2x fa-times"></i></a>
  <div class="blurb-left">
    <img ng-src="{{ blurb.content.img }}">
  </div>
  <div class="blurb-right">
    <h1>{{ blurb.content.name }}&nbsp;
      <small><a ng-if="blurb.content.facebook" ng-href="{{ blurb.content.facebook }}" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
      <a ng-if="blurb.content.twitter" ng-href="{{ blurb.content.twitter }}" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
      <a ng-if="blurb.content.linkedin" ng-href="{{ blurb.content.linkedin }}" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
      <a ng-if="blurb.content.link" ng-href="{{ blurb.content.link }}" target="_blank"><i class="fa fa-fw fa-link"></i></a></small></h1>
    <h2>
      <i class="fa fa-fw fa-chevron-right"></i>
      {{ blurb.content.title }}&nbsp;
    </h2>
    <div class="blurb-body" ng-bind-html="blurb.content.blurb"></div>
  </div>
</div>
