<div class="page-wrapper sponsors">
  <div class="sponsors-header text-center">
    <h1>Sponsors</h1>
    <p class="lead">Thank you to all of our sponsors for their continued support, without whom we wouldn’t be able to <em>Nspire</em>!</p>
  </div>
  <div class="sponsors-body">
    <div class="sponsors-class gold">
      <h2>Gold</h2>
      <div class="sponsors-item" ng-repeat="sponsor in sponsors.gold">
        <a ng-href="{{ sponsor.url }}"><img src="{{ sponsor.img }}"></a>
      </div>
    </div>
    <div class="sponsors-class silver">
      <h2>Silver</h2>
      <div class="sponsors-item" ng-repeat="sponsor in sponsors.silver">
        <a ng-href="{{ sponsor.url }}"><img src="{{ sponsor.img }}"></a>
      </div>
    </div>
    <div class="sponsors-class bronze">
      <h2>Bronze</h2>
      <div class="sponsors-item" ng-repeat="sponsor in sponsors.bronze">
        <a ng-href="{{ sponsor.url }}"><img src="{{ sponsor.img }}"></a>
      </div>
    </div>
    <div class="sponsors-class supporter">
      <h2>Supporter</h2>
      <div class="sponsors-item" ng-repeat="sponsor in sponsors.supporters">
        <a ng-href="{{ sponsor.url }}"><img src="{{ sponsor.img }}"></a>
      </div>
    </div>
  </div>
  <div class="sponsors-footer"></div>
</div>

<a slide="right" href="#/conference" title="Conference"><i class="fa fa-fw fa-caret-right fa-2x"></i></a>
