<div class="page-wrapper subsidies">
  <div class="subsidies-content">
    <div class="row">
    <div class="subsidies-left col-md-4">
      <div class="subsidies-title">
        <h1>Subsidies</h1>
      </div>
    </div>
    <div class="subsidies-right col-md-8">
      <div class="subsidies-header">
      <p class="lead">Check out how your school is sponsoring your NBTC journey</p>
      <p>For more information, contact <a href="mailto:atul.krishan@nspire.org">atul.krishan@nspire.org</a></p>
    </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-3">
        <img class="img-responsive" src="../images/subsidies/LaurierLogo.png">
      </div>
      <div class="col-md-8 col-md-offset-1">
        <h3>Wilfrid Laurier University</h3>
        <table class="table">
          <tr>
            <td class="subsidies-table-cell">School of Business and Economics</td>
            <td class="subsidies-table-cell">50% off Per Delegate</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img class="img-responsive" src="../images/subsidies/QueensLogo.png">
      </div>
      <div class="col-md-8 col-md-offset-1">
        <h3>Queens University</h3>
        <table class="table">
          <tr>
            <td class="subsidies-table-cell">Innovator Connector</td>
            <td class="subsidies-table-cell">$1000 for 10 Students</td>
          </tr>
          <tr>
            <td class="subsidies-table-cell">Commerce</td>
            <td class="subsidies-table-cell">50% Off Per Delegate</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img class="img-responsive" style="margin-top:20px;" src="../images/subsidies/RyersonLogo.jpg">
      </div>
      <div class="col-md-8 col-md-offset-1">
        <h3>Ryerson University</h3>
        <table class="table table-responsive">
          <tr>
            <td class="subsidies-table-cell">Ryerson Engineering Society</td>
            <td class="subsidies-table-cell">$500</td>
          </tr>
          <tr>
            <td class="subsidies-table-cell">Ryerson Commerce Society</td>
            <td class="subsidies-table-cell">$1000 for 10 Students</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img class="img-responsive" src="../images/subsidies/UofTLogo.png">
      </div>
      <div class="col-md-8 col-md-offset-1">
        <h3>University of Toronto - Mississauga</h3>
        <table class="table">
          <tr>
            <td class="subsidies-table-cell">Management</td>
            <td class="subsidies-table-cell">$1125 for 15 Students</td>
          </tr>
          <tr>
            <td class="subsidies-table-cell">ICCIT (CCIT, DEM, IDM)</td>
            <td class="subsidies-table-cell">$1050 for 7 Students</td>
          </tr>
          <tr>
            <td class="subsidies-table-cell">Department of Physical Sciences</td>
            <td class="subsidies-table-cell">$1050 for 7 Students</td>
          </tr>
          <tr>
            <td class="subsidies-table-cell">Political Science</td>
            <td class="subsidies-table-cell">$600</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-8 col-md-offset-1">
        <h3>University of Toronto - Scarborough</h3>
        <table class="table">
          <tr>
            <td class="subsidies-table-cell">Faculty of Student Life</td>
            <td class="subsidies-table-cell">$750 for 6 Students</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-8 col-md-offset-1">
        <h3>University of Toronto - St.George</h3>
        <table class="table">
          <tr>
            <td class="subsidies-table-cell">Electrical and Computer Engineering</td>
            <td class="subsidies-table-cell">$1000 for 20 Students</td>
          </tr>
          <tr>
            <td class="subsidies-table-cell">MIE</td>
            <td class="subsidies-table-cell">$2500 for 25 Students</td>
          </tr>
          <tr>
            <td class="subsidies-table-cell">Economics</td>
            <td class="subsidies-table-cell">Pending</td>
          </tr>
          <tr>
            <td class="subsidies-table-cell">Stats</td>
            <td class="subsidies-table-cell">$1500 for 30 Students</td>
          </tr>
          <tr>
            <td class="subsidies-table-cell">Computer Science</td>
            <td class="subsidies-table-cell">$1500 for 30 Students</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img class="img-responsive" src="../images/subsidies/WaterlooLogo.png">
      </div>
      <div class="col-md-8 col-md-offset-1">
        <h3>University of Waterloo</h3>
        <table class="table">
          <tr>
            <td class="subsidies-table-cell">Mechanical Engineering</td>
            <td class="subsidies-table-cell">$50 per Student</td>
          </tr>
          <tr>
            <td class="subsidies-table-cell">Science</td>
            <td class="subsidies-table-cell">$1000</td>
          </tr>
          <tr>
            <td class="subsidies-table-cell">Arts</td>
            <td class="subsidies-table-cell">Pending</td>
          </tr>
          <tr>
            <td class="subsidies-table-cell">FEDS</td>
            <td class="subsidies-table-cell">Pending</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img class="img-responsive" style="padding:30px;" src="../images/subsidies/WesternLogo.png">
      </div>
      <div class="col-md-8 col-md-offset-1">
        <h3>Western University</h3>
        <table class="table">
          <tr>
            <td class="subsidies-table-cell">Ivey Business School</td>
            <td class="subsidies-table-cell">$125 per Student</td>
          </tr>
          <tr>
            <td class="subsidies-table-cell">Computer Science</td>
            <td class="subsidies-table-cell">$50 per Student</td>
          </tr>
          <tr>
            <td class="subsidies-table-cell">Engineering</td>
            <td class="subsidies-table-cell">$800 for 4 Students</td>
          </tr>
          <tr>
            <td class="subsidies-table-cell">Propel</td>
            <td class="subsidies-table-cell">$500 for 10 People</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img class="img-responsive" style="margin-top:20px;" src="../images/subsidies/YorkLogo.png">
      </div>
      <div class="col-md-8 col-md-offset-1">
        <h3>York University</h3>
        <table class="table">
          <tr>
            <td class="subsidies-table-cell">Lassonde School of Engineering</td>
            <td class="subsidies-table-cell">$1000</td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>

<a class="slidebutton" slide="right" href="#/sponsors" title="Sponsors"><i class="fa fa-fw fa-caret-right fa-2x"></i></a>
