<div class="page-wrapper team">
  <h1>Team</h1>
  <p class="lead">Bringing NBTC to you, with love.</p>
  <div class="team-content">
    <div class="team-member" ng-repeat="member in team">
      <div class="team-member-thumb">
        <img ng-src="{{ member.img }}">
      </div>
      <div class="team-member-info">
        <h3>{{ member.name }}</h3>
        <h4>{{ member.title }}</h4>
      </div>
    </div>
  </div>
</div>

<a class="slidebutton" slide="right" href="#/about" title="About"><i class="fa fa-fw fa-caret-right fa-2x"></i></a>
